# Import libraries and data

In [1]:
# Import libraries
import os
import openai
import pandas as pd
import numpy as np
import openpyxl

In [2]:
# Get OpenAI API secret key (change this file with your own OpenAI key)
open_ai_key = open('../data/local/openai_key.txt', 'r').read()
openai.api_key = open_ai_key
#openai.Model.list()

In [3]:
# Prompt for GPT
prompt_raw = "I would like to summarise in maximum 300 characters and in English what the following sentences in Portuguese talk about. \
Do not use aspects mentioned only in one sentence as part of the summary: TWEETS"

# 2016 positive

## January

In [4]:
# Get monthly data
df_2016_01_pos = pd.read_csv('../data/local/df_pos_2016-01.csv').reset_index()
df_2016_01_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   1910 non-null   int64
 1   LocationCode            1910 non-null   object
 2   LocationName            1910 non-null   object
 3   StatesCode              1910 non-null   object
 4   ...4                    1910 non-null   int64
 5   id                      1910 non-null   float64
 6   text                    1910 non-null   object
 7   label                   1910 non-null   object
 8   in_reply_to_status_id   105 non-null    float64
 9   in_reply_to_user_id     114 non-null    float64
 10  quoted_user_id          15 non-null     float64
 11  quoted_status_id        15 non-null     float64
 12  retweeted_user_id       612 non-null    float64
 13  retweeted_status_id     612 non-null    float64
 14  created_at              1910 non-null   object
 15  entities.user_mentions  870 non-null    object
 16  user.id                 1910 non-null   int64
 17  user.screen_name        1910 non-null   object
 18  user.name               1910 non-null   object
 19  user.description        1656 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           1887 non-null   object
 22  user.num_followers      1910 non-null   int64
 23  user.num_following      1910 non-null   int64
 24  user.created_at         1910 non-null   object
 25  user.statuses_count     1910 non-null   int64
 26  user.is_verified        1910 non-null   bool
 27  lang                    1910 non-null   object
 28  token_count             1910 non-null   int64
 29  is_retweet              1910 non-null   bool
 30  has_quote               1910 non-null   bool
 31  is_reply                1910 non-null   bool
 32  contains_keywords       1910 non-null   bool
 33  longitude               1910 non-null   float64
 34  latitude                1910 non-null   float64
 35  country_code            1910 non-null   object
 36  geoname_id              1807 non-null   float64
 37  location_type           1910 non-null   object
 38  geo_type                1910 non-null   int64
 39  region                  1910 non-null   object
 40  subregion               1910 non-null   object
 41  num_quotes              1910 non-null   int64
 42  num_replies             1910 non-null   int64
 43  num_retweets            1910 non-null   int64
 44  sent_gpt                1910 non-null   object
 45  gpt_sent_presence       1910 non-null   int64
 46  cleaned_text_lem        1910 non-null   object
 47  cleaned_text            1910 non-null   object
 48  month                   1910 non-null   int64
 49  year                    1910 non-null   int64
 50  week                    1910 non-null   int64
 51  year_month              1910 non-null   object
 52  year_week               1910 non-null   object
dtypes: bool(5), float64(11), int64(15), object(22)
memory usage: 725.7+ KB

### Representative sample based on week and location

In [5]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_01_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_01_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week      LocationName  group_size  proportion
0    2016-w01           Alagoas           1    0.000524
1    2016-w01          Amazonas           5    0.002618
2    2016-w01             Bahia          16    0.008377
3    2016-w01             Ceara           3    0.001571
4    2016-w01  Distrito Federal          12    0.006283
..        ...               ...         ...         ...
109  2016-w05           Roraima           4    0.002094
110  2016-w05    Santa Catarina           3    0.001571
111  2016-w05         Sao Paulo          75    0.039267
112  2016-w05           Sergipe           5    0.002618
113  2016-w05         Tocantins           1    0.000524

[114 rows x 4 columns]

In [6]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week      LocationName  group_size  proportion  sample_size
0    2016-w01           Alagoas           1    0.000524            1
1    2016-w01          Amazonas           5    0.002618            6
2    2016-w01             Bahia          16    0.008377           20
3    2016-w01             Ceara           3    0.001571            3
4    2016-w01  Distrito Federal          12    0.006283           15
..        ...               ...         ...         ...          ...
109  2016-w05           Roraima           4    0.002094            5
110  2016-w05    Santa Catarina           3    0.001571            3
111  2016-w05         Sao Paulo          75    0.039267           96
112  2016-w05           Sergipe           5    0.002618            6
113  2016-w05         Tocantins           1    0.000524            1

[114 rows x 5 columns]

In [7]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_01_pos_sample_size = pd.merge(df_2016_01_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [9]:
# Step 6: Perform the stratified sampling
#df_2016_01_pos_sample = df_2016_01_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
 #   lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
#).reset_index(drop=True)
df_2016_01_pos_sample = df_2016_01_pos
# Step 7: Check the result
print(f"Sampled {len(df_2016_01_pos_sample)} rows.")

Sampled 1910 rows.

In [10]:
text_gpt_2016_01_pos = '\n'.join(df_2016_01_pos_sample['text'].astype(str))

### Prompts and loops

In [11]:
prompt_1 = prompt_raw.replace('TWEETS', text_gpt_2016_01_pos)

In [12]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_1}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [13]:
response.choices[0].message.content

'The sentences discuss various aspects of vaccination and public health initiatives in Brazil, including the importance of vaccines against diseases like Zika, dengue, and HPV. They highlight partnerships between countries, such as Brazil and the USA, to develop new vaccines, and emphasize the significance of vaccination campaigns to prevent outbreaks. Additionally, the text notes the global acknowledgment of handwashing as a critical health measure.'

In [14]:
summary = []
dataset = []

In [15]:
dataset.append("2016_01_positive")

In [16]:
summary.append(response.choices[0].message.content)

In [17]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  1 non-null      object
 1   summary  1 non-null      object
dtypes: object(2)
memory usage: 144.0+ bytes

In [18]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...

In [19]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcrR5jhMNeo9yGAqVYvnwoiFapsK at 0x2107f0c5a40> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The sentences discuss various aspects of vaccination and public health initiatives in Brazil, including the importance of vaccines against diseases like Zika, dengue, and HPV. They highlight partnerships between countries, such as Brazil and the USA, to develop new vaccines, and emphasize the significance of vaccination campaigns to prevent outbreaks. Additionally, the text notes the global acknowledgment of handwashing as a critical health measure.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862585,
  "id": "chatcmpl-AUcrR5jhMNeo9yGAqVYvnwoiFapsK",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 76,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 43179,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 43255
  }
}

## February

In [20]:
# Get monthly data
df_2016_02_pos = pd.read_csv('../data/local/df_pos_2016-02.csv').reset_index()
df_2016_02_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3118 entries, 0 to 3117
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   3118 non-null   int64
 1   LocationCode            3118 non-null   object
 2   LocationName            3118 non-null   object
 3   StatesCode              3118 non-null   object
 4   ...4                    3118 non-null   int64
 5   id                      3118 non-null   float64
 6   text                    3118 non-null   object
 7   label                   3118 non-null   object
 8   in_reply_to_status_id   103 non-null    float64
 9   in_reply_to_user_id     124 non-null    float64
 10  quoted_user_id          14 non-null     float64
 11  quoted_status_id        14 non-null     float64
 12  retweeted_user_id       969 non-null    float64
 13  retweeted_status_id     969 non-null    float64
 14  created_at              3118 non-null   object
 15  entities.user_mentions  1333 non-null   object
 16  user.id                 3118 non-null   float64
 17  user.screen_name        3118 non-null   object
 18  user.name               3118 non-null   object
 19  user.description        2656 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           3101 non-null   object
 22  user.num_followers      3118 non-null   int64
 23  user.num_following      3118 non-null   int64
 24  user.created_at         3118 non-null   object
 25  user.statuses_count     3118 non-null   int64
 26  user.is_verified        3118 non-null   bool
 27  lang                    3118 non-null   object
 28  token_count             3118 non-null   int64
 29  is_retweet              3118 non-null   bool
 30  has_quote               3118 non-null   bool
 31  is_reply                3118 non-null   bool
 32  contains_keywords       3118 non-null   bool
 33  longitude               3118 non-null   float64
 34  latitude                3118 non-null   float64
 35  country_code            3118 non-null   object
 36  geoname_id              2995 non-null   float64
 37  location_type           3118 non-null   object
 38  geo_type                3118 non-null   int64
 39  region                  3118 non-null   object
 40  subregion               3118 non-null   object
 41  num_quotes              3118 non-null   int64
 42  num_replies             3118 non-null   int64
 43  num_retweets            3118 non-null   int64
 44  sent_gpt                3118 non-null   object
 45  gpt_sent_presence       3118 non-null   int64
 46  cleaned_text_lem        3118 non-null   object
 47  cleaned_text            3118 non-null   object
 48  month                   3118 non-null   int64
 49  year                    3118 non-null   int64
 50  week                    3118 non-null   int64
 51  year_month              3118 non-null   object
 52  year_week               3118 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 1.2+ MB

### Representative sample based on week and location

In [21]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_02_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_02_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week    LocationName  group_size  proportion
0    2016-w05            Acre           1    0.000321
1    2016-w05         Alagoas           3    0.000962
2    2016-w05           Amapa           5    0.001604
3    2016-w05        Amazonas          17    0.005452
4    2016-w05           Bahia          41    0.013149
..        ...             ...         ...         ...
113  2016-w09         Roraima           2    0.000641
114  2016-w09  Santa Catarina           3    0.000962
115  2016-w09       Sao Paulo          38    0.012187
116  2016-w09         Sergipe           3    0.000962
117  2016-w09       Tocantins           9    0.002886

[118 rows x 4 columns]

In [22]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week    LocationName  group_size  proportion  sample_size
0    2016-w05            Acre           1    0.000321            0
1    2016-w05         Alagoas           3    0.000962            2
2    2016-w05           Amapa           5    0.001604            3
3    2016-w05        Amazonas          17    0.005452           13
4    2016-w05           Bahia          41    0.013149           32
..        ...             ...         ...         ...          ...
113  2016-w09         Roraima           2    0.000641            1
114  2016-w09  Santa Catarina           3    0.000962            2
115  2016-w09       Sao Paulo          38    0.012187           29
116  2016-w09         Sergipe           3    0.000962            2
117  2016-w09       Tocantins           9    0.002886            7

[118 rows x 5 columns]

In [23]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_02_pos_sample_size = pd.merge(df_2016_02_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [24]:
# Step 6: Perform the stratified sampling
df_2016_02_pos_sample = df_2016_02_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
    lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
).reset_index(drop=True)

# Step 7: Check the result
print(f"Sampled {len(df_2016_02_pos_sample)} rows.")

Sampled 2392 rows.

In [25]:
text_gpt_2016_02_pos = '\n'.join(df_2016_02_pos_sample['text'].astype(str))

### Prompts and loops

In [26]:
prompt_2 = prompt_raw.replace('TWEETS', text_gpt_2016_02_pos)

In [27]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_2}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [28]:
response.choices[0].message.content

'The excerpts discuss the urgent need for a vaccine against the Zika virus, highlighting efforts by Brazil and the United States to develop one. They mention partnerships with various laboratories and research institutions, including the Butantan Institute and the University of Texas. There are references to ongoing studies and the adaptation of existing dengue vaccines for Zika. Additionally, the texts caution against misinformation regarding vaccines and emphasize the importance of combating the Aedes aegypti mosquito while vaccine development is underway.'

In [29]:
#summary = []
#dataset = []

In [30]:
dataset.append("2016_02_positive")

In [31]:
summary.append(response.choices[0].message.content)

In [32]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  2 non-null      object
 1   summary  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [33]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...

In [34]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcrXytBLGZcjYEFoz18J89Xv91od at 0x2107f2a5d10> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The excerpts discuss the urgent need for a vaccine against the Zika virus, highlighting efforts by Brazil and the United States to develop one. They mention partnerships with various laboratories and research institutions, including the Butantan Institute and the University of Texas. There are references to ongoing studies and the adaptation of existing dengue vaccines for Zika. Additionally, the texts caution against misinformation regarding vaccines and emphasize the importance of combating the Aedes aegypti mosquito while vaccine development is underway.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862591,
  "id": "chatcmpl-AUcrXytBLGZcjYEFoz18J89Xv91od",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 93,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 55284,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 55377
  }
}

## March

In [35]:
# Get monthly data
df_2016_03_pos = pd.read_csv('../data/local/df_pos_2016-03.csv').reset_index()
df_2016_03_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2567 entries, 0 to 2566
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   2567 non-null   int64
 1   LocationCode            2567 non-null   object
 2   LocationName            2567 non-null   object
 3   StatesCode              2567 non-null   object
 4   ...4                    2567 non-null   int64
 5   id                      2567 non-null   float64
 6   text                    2567 non-null   object
 7   label                   2567 non-null   object
 8   in_reply_to_status_id   95 non-null     float64
 9   in_reply_to_user_id     105 non-null    float64
 10  quoted_user_id          37 non-null     float64
 11  quoted_status_id        37 non-null     float64
 12  retweeted_user_id       1022 non-null   float64
 13  retweeted_status_id     1022 non-null   float64
 14  created_at              2567 non-null   object
 15  entities.user_mentions  1227 non-null   object
 16  user.id                 2567 non-null   float64
 17  user.screen_name        2567 non-null   object
 18  user.name               2567 non-null   object
 19  user.description        2174 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           2548 non-null   object
 22  user.num_followers      2567 non-null   int64
 23  user.num_following      2567 non-null   int64
 24  user.created_at         2567 non-null   object
 25  user.statuses_count     2567 non-null   int64
 26  user.is_verified        2567 non-null   bool
 27  lang                    2567 non-null   object
 28  token_count             2567 non-null   int64
 29  is_retweet              2567 non-null   bool
 30  has_quote               2567 non-null   bool
 31  is_reply                2567 non-null   bool
 32  contains_keywords       2567 non-null   bool
 33  longitude               2567 non-null   float64
 34  latitude                2567 non-null   float64
 35  country_code            2567 non-null   object
 36  geoname_id              2477 non-null   float64
 37  location_type           2567 non-null   object
 38  geo_type                2567 non-null   int64
 39  region                  2567 non-null   object
 40  subregion               2567 non-null   object
 41  num_quotes              2567 non-null   int64
 42  num_replies             2567 non-null   int64
 43  num_retweets            2567 non-null   int64
 44  sent_gpt                2567 non-null   object
 45  gpt_sent_presence       2567 non-null   int64
 46  cleaned_text_lem        2567 non-null   object
 47  cleaned_text            2567 non-null   object
 48  month                   2567 non-null   int64
 49  year                    2567 non-null   int64
 50  week                    2567 non-null   int64
 51  year_month              2567 non-null   object
 52  year_week               2567 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 975.3+ KB

### Representative sample based on week and location

In [36]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_03_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_03_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week    LocationName  group_size  proportion
0    2016-w09            Acre           1    0.000390
1    2016-w09         Alagoas           3    0.001169
2    2016-w09           Amapa           3    0.001169
3    2016-w09        Amazonas           4    0.001558
4    2016-w09           Bahia          15    0.005843
..        ...             ...         ...         ...
108  2016-w13         Roraima           2    0.000779
109  2016-w13  Santa Catarina          18    0.007012
110  2016-w13       Sao Paulo         144    0.056097
111  2016-w13         Sergipe           9    0.003506
112  2016-w13       Tocantins           2    0.000779

[113 rows x 4 columns]

In [37]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week    LocationName  group_size  proportion  sample_size
0    2016-w09            Acre           1    0.000390            0
1    2016-w09         Alagoas           3    0.001169            2
2    2016-w09           Amapa           3    0.001169            2
3    2016-w09        Amazonas           4    0.001558            3
4    2016-w09           Bahia          15    0.005843           14
..        ...             ...         ...         ...          ...
108  2016-w13         Roraima           2    0.000779            1
109  2016-w13  Santa Catarina          18    0.007012           17
110  2016-w13       Sao Paulo         144    0.056097          137
111  2016-w13         Sergipe           9    0.003506            8
112  2016-w13       Tocantins           2    0.000779            1

[113 rows x 5 columns]

In [38]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_03_pos_sample_size = pd.merge(df_2016_03_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [39]:
# Step 6: Perform the stratified sampling
df_2016_03_pos_sample = df_2016_03_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
    lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
).reset_index(drop=True)

# Step 7: Check the result
print(f"Sampled {len(df_2016_03_pos_sample)} rows.")

Sampled 2375 rows.

In [40]:
text_gpt_2016_03_pos = '\n'.join(df_2016_03_pos_sample['text'].astype(str))

### Prompts and loops

In [41]:
prompt_3 = prompt_raw.replace('TWEETS', text_gpt_2016_03_pos)

In [42]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_3}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [43]:
response.choices[0].message.content

'In Brazil, there is a strong emphasis on vaccination, particularly against HPV for boys and girls aged 9 to 13, as advocated by a Nobel Prize-winning doctor. Additionally, campaigns for rabies vaccination in pets and national initiatives against diseases like dengue and H1N1 are underway. Vaccination is highlighted as crucial for public health, with ongoing efforts to enhance awareness and accessibility.'

In [44]:
#summary = []
#dataset = []

In [45]:
dataset.append("2016_03_positive")

In [46]:
summary.append(response.choices[0].message.content)

In [47]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  3 non-null      object
 1   summary  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [48]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...

In [49]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcrdQl7qWhX9GOlwYxSj3vLF4JrA at 0x2107f2a5e50> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "In Brazil, there is a strong emphasis on vaccination, particularly against HPV for boys and girls aged 9 to 13, as advocated by a Nobel Prize-winning doctor. Additionally, campaigns for rabies vaccination in pets and national initiatives against diseases like dengue and H1N1 are underway. Vaccination is highlighted as crucial for public health, with ongoing efforts to enhance awareness and accessibility.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862597,
  "id": "chatcmpl-AUcrdQl7qWhX9GOlwYxSj3vLF4JrA",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 77,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 51534,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 51611
  }
}

## April

In [50]:
# Get monthly data
df_2016_04_pos = pd.read_csv('../data/local/df_pos_2016-04.csv').reset_index()
df_2016_04_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5617 entries, 0 to 5616
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   5617 non-null   int64
 1   LocationCode            5617 non-null   object
 2   LocationName            5617 non-null   object
 3   StatesCode              5617 non-null   object
 4   ...4                    5617 non-null   int64
 5   id                      5617 non-null   float64
 6   text                    5617 non-null   object
 7   label                   5617 non-null   object
 8   in_reply_to_status_id   245 non-null    float64
 9   in_reply_to_user_id     314 non-null    float64
 10  quoted_user_id          62 non-null     float64
 11  quoted_status_id        62 non-null     float64
 12  retweeted_user_id       1252 non-null   float64
 13  retweeted_status_id     1252 non-null   float64
 14  created_at              5617 non-null   object
 15  entities.user_mentions  1975 non-null   object
 16  user.id                 5617 non-null   float64
 17  user.screen_name        5617 non-null   object
 18  user.name               5617 non-null   object
 19  user.description        4872 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           5553 non-null   object
 22  user.num_followers      5617 non-null   int64
 23  user.num_following      5617 non-null   int64
 24  user.created_at         5617 non-null   object
 25  user.statuses_count     5617 non-null   int64
 26  user.is_verified        5617 non-null   bool
 27  lang                    5617 non-null   object
 28  token_count             5617 non-null   int64
 29  is_retweet              5617 non-null   bool
 30  has_quote               5617 non-null   bool
 31  is_reply                5617 non-null   bool
 32  contains_keywords       5617 non-null   bool
 33  longitude               5617 non-null   float64
 34  latitude                5617 non-null   float64
 35  country_code            5617 non-null   object
 36  geoname_id              5290 non-null   float64
 37  location_type           5617 non-null   object
 38  geo_type                5617 non-null   int64
 39  region                  5617 non-null   object
 40  subregion               5617 non-null   object
 41  num_quotes              5617 non-null   int64
 42  num_replies             5617 non-null   int64
 43  num_retweets            5617 non-null   int64
 44  sent_gpt                5617 non-null   object
 45  gpt_sent_presence       5617 non-null   int64
 46  cleaned_text_lem        5617 non-null   object
 47  cleaned_text            5617 non-null   object
 48  month                   5617 non-null   int64
 49  year                    5617 non-null   int64
 50  week                    5617 non-null   int64
 51  year_month              5617 non-null   object
 52  year_week               5617 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 2.1+ MB

### Representative sample based on week and location

In [51]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_04_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_04_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week    LocationName  group_size  proportion
0    2016-w14            Acre           2    0.000356
1    2016-w14         Alagoas          14    0.002492
2    2016-w14           Amapa          17    0.003027
3    2016-w14        Amazonas          23    0.004095
4    2016-w14           Bahia          58    0.010326
..        ...             ...         ...         ...
123  2016-w18         Roraima           2    0.000356
124  2016-w18  Santa Catarina          22    0.003917
125  2016-w18       Sao Paulo         100    0.017803
126  2016-w18         Sergipe          12    0.002136
127  2016-w18       Tocantins           2    0.000356

[128 rows x 4 columns]

In [52]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week    LocationName  group_size  proportion  sample_size
0    2016-w14            Acre           2    0.000356            0
1    2016-w14         Alagoas          14    0.002492            6
2    2016-w14           Amapa          17    0.003027            7
3    2016-w14        Amazonas          23    0.004095           10
4    2016-w14           Bahia          58    0.010326           25
..        ...             ...         ...         ...          ...
123  2016-w18         Roraima           2    0.000356            0
124  2016-w18  Santa Catarina          22    0.003917            9
125  2016-w18       Sao Paulo         100    0.017803           43
126  2016-w18         Sergipe          12    0.002136            5
127  2016-w18       Tocantins           2    0.000356            0

[128 rows x 5 columns]

In [53]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_04_pos_sample_size = pd.merge(df_2016_04_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [54]:
# Step 6: Perform the stratified sampling
df_2016_04_pos_sample = df_2016_04_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
    lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
).reset_index(drop=True)

# Step 7: Check the result
print(f"Sampled {len(df_2016_04_pos_sample)} rows.")

Sampled 2392 rows.

In [55]:
text_gpt_2016_04_pos = '\n'.join(df_2016_04_pos_sample['text'].astype(str))

### Prompts and loops

In [56]:
prompt_4 = prompt_raw.replace('TWEETS', text_gpt_2016_04_pos)

In [57]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_4}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [58]:
response.choices[0].message.content

'The text discusses various vaccination campaigns in Brazil, focusing on the importance of vaccinations against HPV and H1N1. It highlights efforts by health authorities to encourage girls to get vaccinated against HPV, the organization of vaccination days for the flu, and the urgency of vaccination in response to outbreaks. Additionally, it mentions the vaccination of pets against rabies and public health initiatives to ensure widespread immunization among vulnerable groups.'

In [59]:
#summary = []
#dataset = []

In [60]:
dataset.append("2016_04_positive")

In [61]:
summary.append(response.choices[0].message.content)

In [62]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  4 non-null      object
 1   summary  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [63]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3  2016_04_positive  The text discusses various vaccination campaig...

In [64]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcrjHoj75z8WZ0kMpYtzzDIOn6fK at 0x210000175e0> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The text discusses various vaccination campaigns in Brazil, focusing on the importance of vaccinations against HPV and H1N1. It highlights efforts by health authorities to encourage girls to get vaccinated against HPV, the organization of vaccination days for the flu, and the urgency of vaccination in response to outbreaks. Additionally, it mentions the vaccination of pets against rabies and public health initiatives to ensure widespread immunization among vulnerable groups.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862603,
  "id": "chatcmpl-AUcrjHoj75z8WZ0kMpYtzzDIOn6fK",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 81,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 58807,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 58888
  }
}

## May

In [65]:
# Get monthly data
df_2016_05_pos = pd.read_csv('../data/local/df_pos_2016-05.csv').reset_index()
df_2016_05_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4577 entries, 0 to 4576
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   4577 non-null   int64
 1   LocationCode            4577 non-null   object
 2   LocationName            4577 non-null   object
 3   StatesCode              4577 non-null   object
 4   ...4                    4577 non-null   int64
 5   id                      4577 non-null   float64
 6   text                    4577 non-null   object
 7   label                   4577 non-null   object
 8   in_reply_to_status_id   224 non-null    float64
 9   in_reply_to_user_id     276 non-null    float64
 10  quoted_user_id          68 non-null     float64
 11  quoted_status_id        68 non-null     float64
 12  retweeted_user_id       1194 non-null   float64
 13  retweeted_status_id     1194 non-null   float64
 14  created_at              4577 non-null   object
 15  entities.user_mentions  1822 non-null   object
 16  user.id                 4577 non-null   float64
 17  user.screen_name        4577 non-null   object
 18  user.name               4577 non-null   object
 19  user.description        3975 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           4523 non-null   object
 22  user.num_followers      4577 non-null   int64
 23  user.num_following      4577 non-null   int64
 24  user.created_at         4577 non-null   object
 25  user.statuses_count     4577 non-null   int64
 26  user.is_verified        4577 non-null   bool
 27  lang                    4577 non-null   object
 28  token_count             4577 non-null   int64
 29  is_retweet              4577 non-null   bool
 30  has_quote               4577 non-null   bool
 31  is_reply                4577 non-null   bool
 32  contains_keywords       4577 non-null   bool
 33  longitude               4577 non-null   float64
 34  latitude                4577 non-null   float64
 35  country_code            4577 non-null   object
 36  geoname_id              4304 non-null   float64
 37  location_type           4577 non-null   object
 38  geo_type                4577 non-null   int64
 39  region                  4577 non-null   object
 40  subregion               4577 non-null   object
 41  num_quotes              4577 non-null   int64
 42  num_replies             4577 non-null   int64
 43  num_retweets            4577 non-null   int64
 44  sent_gpt                4577 non-null   object
 45  gpt_sent_presence       4577 non-null   int64
 46  cleaned_text_lem        4577 non-null   object
 47  cleaned_text            4577 non-null   object
 48  month                   4577 non-null   int64
 49  year                    4577 non-null   int64
 50  week                    4577 non-null   int64
 51  year_month              4577 non-null   object
 52  year_week               4577 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 1.7+ MB

### Representative sample based on week and location

In [66]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_05_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_05_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week    LocationName  group_size  proportion
0    2016-w18         Alagoas           9    0.001966
1    2016-w18           Amapa           2    0.000437
2    2016-w18        Amazonas          15    0.003277
3    2016-w18           Bahia          33    0.007210
4    2016-w18           Ceara          41    0.008958
..        ...             ...         ...         ...
117  2016-w22        Rondonia           2    0.000437
118  2016-w22         Roraima           1    0.000218
119  2016-w22  Santa Catarina           8    0.001748
120  2016-w22       Sao Paulo          51    0.011143
121  2016-w22         Sergipe           2    0.000437

[122 rows x 4 columns]

In [67]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week    LocationName  group_size  proportion  sample_size
0    2016-w18         Alagoas           9    0.001966            4
1    2016-w18           Amapa           2    0.000437            1
2    2016-w18        Amazonas          15    0.003277            8
3    2016-w18           Bahia          33    0.007210           17
4    2016-w18           Ceara          41    0.008958           21
..        ...             ...         ...         ...          ...
117  2016-w22        Rondonia           2    0.000437            1
118  2016-w22         Roraima           1    0.000218            0
119  2016-w22  Santa Catarina           8    0.001748            4
120  2016-w22       Sao Paulo          51    0.011143           27
121  2016-w22         Sergipe           2    0.000437            1

[122 rows x 5 columns]

In [68]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_05_pos_sample_size = pd.merge(df_2016_05_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [69]:
# Step 6: Perform the stratified sampling
df_2016_05_pos_sample = df_2016_05_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
    lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
).reset_index(drop=True)

# Step 7: Check the result
print(f"Sampled {len(df_2016_05_pos_sample)} rows.")

Sampled 2389 rows.

In [70]:
text_gpt_2016_05_pos = '\n'.join(df_2016_05_pos_sample['text'].astype(str))

### Prompts and loops

In [71]:
prompt_5 = prompt_raw.replace('TWEETS', text_gpt_2016_05_pos)

In [72]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_5}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [73]:
response.choices[0].message.content

'The text discusses various vaccination campaigns in Brazil, particularly against influenza (H1N1) and foot-and-mouth disease for livestock. It emphasizes the importance of vaccination for specific groups, such as children, pregnant women, and the elderly. There are mentions of vaccination rates, the availability of vaccines, and health authorities encouraging the public to get vaccinated to prevent outbreaks. The campaigns aim to achieve high coverage rates and have reported significant participation from the public.'

In [74]:
#summary = []
#dataset = []

In [75]:
dataset.append("2016_05_positive")

In [76]:
summary.append(response.choices[0].message.content)

In [77]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  5 non-null      object
 1   summary  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [78]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3  2016_04_positive  The text discusses various vaccination campaig...
4  2016_05_positive  The text discusses various vaccination campaig...

In [79]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcrpFh5AxmCTZnJjTOaa3naw8E7j at 0x21000027810> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The text discusses various vaccination campaigns in Brazil, particularly against influenza (H1N1) and foot-and-mouth disease for livestock. It emphasizes the importance of vaccination for specific groups, such as children, pregnant women, and the elderly. There are mentions of vaccination rates, the availability of vaccines, and health authorities encouraging the public to get vaccinated to prevent outbreaks. The campaigns aim to achieve high coverage rates and have reported significant participation from the public.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862609,
  "id": "chatcmpl-AUcrpFh5AxmCTZnJjTOaa3naw8E7j",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 89,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 60686,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 60775
  }
}

## June

In [80]:
# Get monthly data
df_2016_06_pos = pd.read_csv('../data/local/df_pos_2016-06.csv').reset_index()
df_2016_06_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676 entries, 0 to 2675
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   2676 non-null   int64
 1   LocationCode            2676 non-null   object
 2   LocationName            2676 non-null   object
 3   StatesCode              2676 non-null   object
 4   ...4                    2676 non-null   int64
 5   id                      2676 non-null   float64
 6   text                    2676 non-null   object
 7   label                   2676 non-null   object
 8   in_reply_to_status_id   95 non-null     float64
 9   in_reply_to_user_id     106 non-null    float64
 10  quoted_user_id          30 non-null     float64
 11  quoted_status_id        30 non-null     float64
 12  retweeted_user_id       640 non-null    float64
 13  retweeted_status_id     640 non-null    float64
 14  created_at              2676 non-null   object
 15  entities.user_mentions  914 non-null    object
 16  user.id                 2676 non-null   float64
 17  user.screen_name        2676 non-null   object
 18  user.name               2676 non-null   object
 19  user.description        2363 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           2651 non-null   object
 22  user.num_followers      2676 non-null   int64
 23  user.num_following      2676 non-null   int64
 24  user.created_at         2676 non-null   object
 25  user.statuses_count     2676 non-null   int64
 26  user.is_verified        2676 non-null   bool
 27  lang                    2676 non-null   object
 28  token_count             2676 non-null   int64
 29  is_retweet              2676 non-null   bool
 30  has_quote               2676 non-null   bool
 31  is_reply                2676 non-null   bool
 32  contains_keywords       2676 non-null   bool
 33  longitude               2676 non-null   float64
 34  latitude                2676 non-null   float64
 35  country_code            2676 non-null   object
 36  geoname_id              2552 non-null   float64
 37  location_type           2676 non-null   object
 38  geo_type                2676 non-null   int64
 39  region                  2676 non-null   object
 40  subregion               2676 non-null   object
 41  num_quotes              2676 non-null   int64
 42  num_replies             2676 non-null   int64
 43  num_retweets            2676 non-null   int64
 44  sent_gpt                2676 non-null   object
 45  gpt_sent_presence       2676 non-null   int64
 46  cleaned_text_lem        2676 non-null   object
 47  cleaned_text            2676 non-null   object
 48  month                   2676 non-null   int64
 49  year                    2676 non-null   int64
 50  week                    2676 non-null   int64
 51  year_month              2676 non-null   object
 52  year_week               2676 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 1016.7+ KB

### Representative sample based on week and location

In [81]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_06_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_06_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week    LocationName  group_size  proportion
0    2016-w22            Acre           1    0.000374
1    2016-w22         Alagoas           7    0.002616
2    2016-w22        Amazonas           6    0.002242
3    2016-w22           Bahia          20    0.007474
4    2016-w22           Ceara           4    0.001495
..        ...             ...         ...         ...
111  2016-w26         Roraima           7    0.002616
112  2016-w26  Santa Catarina          14    0.005232
113  2016-w26       Sao Paulo         149    0.055680
114  2016-w26         Sergipe           5    0.001868
115  2016-w26       Tocantins           2    0.000747

[116 rows x 4 columns]

In [82]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week    LocationName  group_size  proportion  sample_size
0    2016-w22            Acre           1    0.000374            0
1    2016-w22         Alagoas           7    0.002616            6
2    2016-w22        Amazonas           6    0.002242            5
3    2016-w22           Bahia          20    0.007474           18
4    2016-w22           Ceara           4    0.001495            3
..        ...             ...         ...         ...          ...
111  2016-w26         Roraima           7    0.002616            6
112  2016-w26  Santa Catarina          14    0.005232           12
113  2016-w26       Sao Paulo         149    0.055680          136
114  2016-w26         Sergipe           5    0.001868            4
115  2016-w26       Tocantins           2    0.000747            1

[116 rows x 5 columns]

In [83]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_06_pos_sample_size = pd.merge(df_2016_06_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [84]:
# Step 6: Perform the stratified sampling
df_2016_06_pos_sample = df_2016_06_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
    lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
).reset_index(drop=True)

# Step 7: Check the result
print(f"Sampled {len(df_2016_06_pos_sample)} rows.")

Sampled 2380 rows.

In [85]:
text_gpt_2016_06_pos = '\n'.join(df_2016_06_pos_sample['text'].astype(str))

### Prompts and loops

In [86]:
prompt_6 = prompt_raw.replace('TWEETS', text_gpt_2016_06_pos)

In [87]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_6}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [88]:
response.choices[0].message.content

'The texts discuss various vaccination initiatives and studies in Brazil. Highlights include the availability of the H1N1 vaccine for children, significant vaccination coverage achievements in various municipalities, and promising research on cancer vaccines. Additionally, there are mentions of the development of vaccines for diseases like dengue and zika, emphasizing the importance of vaccination in public health.'

In [89]:
#summary = []
#dataset = []

In [90]:
dataset.append("2016_06_positive")

In [91]:
summary.append(response.choices[0].message.content)

In [92]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  6 non-null      object
 1   summary  6 non-null      object
dtypes: object(2)
memory usage: 224.0+ bytes

In [93]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3  2016_04_positive  The text discusses various vaccination campaig...
4  2016_05_positive  The text discusses various vaccination campaig...
5  2016_06_positive  The texts discuss various vaccination initiati...

In [94]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcrw9u7GXD87ClXYJUd9v1UAb2jJ at 0x2100182a4f0> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The texts discuss various vaccination initiatives and studies in Brazil. Highlights include the availability of the H1N1 vaccine for children, significant vaccination coverage achievements in various municipalities, and promising research on cancer vaccines. Additionally, there are mentions of the development of vaccines for diseases like dengue and zika, emphasizing the importance of vaccination in public health.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862616,
  "id": "chatcmpl-AUcrw9u7GXD87ClXYJUd9v1UAb2jJ",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 67,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 56047,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 56114
  }
}

## July

In [95]:
# Get monthly data
df_2016_07_pos = pd.read_csv('../data/local/df_pos_2016-07.csv').reset_index()
df_2016_07_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181 entries, 0 to 2180
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   2181 non-null   int64
 1   LocationCode            2181 non-null   object
 2   LocationName            2181 non-null   object
 3   StatesCode              2181 non-null   object
 4   ...4                    2181 non-null   int64
 5   id                      2181 non-null   float64
 6   text                    2181 non-null   object
 7   label                   2181 non-null   object
 8   in_reply_to_status_id   94 non-null     float64
 9   in_reply_to_user_id     108 non-null    float64
 10  quoted_user_id          18 non-null     float64
 11  quoted_status_id        18 non-null     float64
 12  retweeted_user_id       665 non-null    float64
 13  retweeted_status_id     665 non-null    float64
 14  created_at              2181 non-null   object
 15  entities.user_mentions  923 non-null    object
 16  user.id                 2181 non-null   float64
 17  user.screen_name        2181 non-null   object
 18  user.name               2181 non-null   object
 19  user.description        1963 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           2165 non-null   object
 22  user.num_followers      2181 non-null   int64
 23  user.num_following      2181 non-null   int64
 24  user.created_at         2181 non-null   object
 25  user.statuses_count     2181 non-null   int64
 26  user.is_verified        2181 non-null   bool
 27  lang                    2181 non-null   object
 28  token_count             2181 non-null   int64
 29  is_retweet              2181 non-null   bool
 30  has_quote               2181 non-null   bool
 31  is_reply                2181 non-null   bool
 32  contains_keywords       2181 non-null   bool
 33  longitude               2181 non-null   float64
 34  latitude                2181 non-null   float64
 35  country_code            2181 non-null   object
 36  geoname_id              2089 non-null   float64
 37  location_type           2181 non-null   object
 38  geo_type                2181 non-null   int64
 39  region                  2181 non-null   object
 40  subregion               2181 non-null   object
 41  num_quotes              2181 non-null   int64
 42  num_replies             2181 non-null   int64
 43  num_retweets            2181 non-null   int64
 44  sent_gpt                2181 non-null   object
 45  gpt_sent_presence       2181 non-null   int64
 46  cleaned_text_lem        2181 non-null   object
 47  cleaned_text            2181 non-null   object
 48  month                   2181 non-null   int64
 49  year                    2181 non-null   int64
 50  week                    2181 non-null   int64
 51  year_month              2181 non-null   object
 52  year_week               2181 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 828.6+ KB

### Representative sample based on week and location

In [96]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_07_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_07_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week    LocationName  group_size  proportion
0    2016-w27            Acre           2    0.000917
1    2016-w27         Alagoas           5    0.002293
2    2016-w27           Amapa           2    0.000917
3    2016-w27        Amazonas          11    0.005044
4    2016-w27           Bahia          20    0.009170
..        ...             ...         ...         ...
107  2016-w31         Roraima           1    0.000459
108  2016-w31  Santa Catarina           2    0.000917
109  2016-w31       Sao Paulo          27    0.012380
110  2016-w31         Sergipe           4    0.001834
111  2016-w31       Tocantins           1    0.000459

[112 rows x 4 columns]

In [97]:
# Step 3: Define the target sample size
#target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
#group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
#group_sizes
# Include all samples since there are not many tweets

In [98]:
# Step 5: Merge this sample size information back to the original DataFrame
#df_2016_07_pos_sample_size = pd.merge(df_2016_07_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
 #                              on=['year_week', 'LocationName'], how='left')

In [99]:
# Step 6: Perform the stratified sampling
#df_2016_07_pos_sample = df_2016_07_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
#    lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
#).reset_index(drop=True)
df_2016_07_pos_sample = df_2016_07_pos
# Step 7: Check the result
print(f"Sampled {len(df_2016_07_pos_sample)} rows.")

Sampled 2181 rows.

In [100]:
text_gpt_2016_07_pos = '\n'.join(df_2016_07_pos_sample['text'].astype(str))

### Prompts and loops

In [101]:
prompt_7 = prompt_raw.replace('TWEETS', text_gpt_2016_07_pos)

In [102]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_7}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [103]:
response.choices[0].message.content

"The text discusses various aspects of vaccination, including the development and testing of vaccines against diseases like Zika, dengue, hepatitis, and HPV. It emphasizes the importance of vaccination for public health, mentions specific vaccination campaigns in Brazil, and highlights personal anecdotes about vaccination experiences. There's also discussion about the necessity of keeping vaccination records up to date and the role of vaccines in preventing outbreaks of diseases like yellow fever and rabies."

In [104]:
#summary = []
#dataset = []

In [105]:
dataset.append("2016_07_positive")

In [106]:
summary.append(response.choices[0].message.content)

In [107]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  7 non-null      object
 1   summary  7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [108]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3  2016_04_positive  The text discusses various vaccination campaig...
4  2016_05_positive  The text discusses various vaccination campaig...
5  2016_06_positive  The texts discuss various vaccination initiati...
6  2016_07_positive  The text discusses various aspects of vaccinat...

In [109]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcs1HAdZqxJ7J01bke7P9w1r2Xmx at 0x2107f2aa680> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The text discusses various aspects of vaccination, including the development and testing of vaccines against diseases like Zika, dengue, hepatitis, and HPV. It emphasizes the importance of vaccination for public health, mentions specific vaccination campaigns in Brazil, and highlights personal anecdotes about vaccination experiences. There's also discussion about the necessity of keeping vaccination records up to date and the role of vaccines in preventing outbreaks of diseases like yellow fever and rabies.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862621,
  "id": "chatcmpl-AUcs1HAdZqxJ7J01bke7P9w1r2Xmx",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 83,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 56180,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 56263
  }
}

## August

In [110]:
# Get monthly data
df_2016_08_pos = pd.read_csv('../data/local/df_pos_2016-08.csv').reset_index()
df_2016_08_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958 entries, 0 to 1957
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   1958 non-null   int64
 1   LocationCode            1958 non-null   object
 2   LocationName            1958 non-null   object
 3   StatesCode              1958 non-null   object
 4   ...4                    1958 non-null   int64
 5   id                      1958 non-null   float64
 6   text                    1958 non-null   object
 7   label                   1958 non-null   object
 8   in_reply_to_status_id   92 non-null     float64
 9   in_reply_to_user_id     98 non-null     float64
 10  quoted_user_id          25 non-null     float64
 11  quoted_status_id        25 non-null     float64
 12  retweeted_user_id       429 non-null    float64
 13  retweeted_status_id     429 non-null    float64
 14  created_at              1958 non-null   object
 15  entities.user_mentions  612 non-null    object
 16  user.id                 1958 non-null   float64
 17  user.screen_name        1958 non-null   object
 18  user.name               1958 non-null   object
 19  user.description        1730 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           1941 non-null   object
 22  user.num_followers      1958 non-null   int64
 23  user.num_following      1958 non-null   int64
 24  user.created_at         1958 non-null   object
 25  user.statuses_count     1958 non-null   int64
 26  user.is_verified        1958 non-null   bool
 27  lang                    1958 non-null   object
 28  token_count             1958 non-null   int64
 29  is_retweet              1958 non-null   bool
 30  has_quote               1958 non-null   bool
 31  is_reply                1958 non-null   bool
 32  contains_keywords       1958 non-null   bool
 33  longitude               1958 non-null   float64
 34  latitude                1958 non-null   float64
 35  country_code            1958 non-null   object
 36  geoname_id              1856 non-null   float64
 37  location_type           1958 non-null   object
 38  geo_type                1958 non-null   int64
 39  region                  1958 non-null   object
 40  subregion               1958 non-null   object
 41  num_quotes              1958 non-null   int64
 42  num_replies             1958 non-null   int64
 43  num_retweets            1958 non-null   int64
 44  sent_gpt                1958 non-null   object
 45  gpt_sent_presence       1958 non-null   int64
 46  cleaned_text_lem        1958 non-null   object
 47  cleaned_text            1958 non-null   object
 48  month                   1958 non-null   int64
 49  year                    1958 non-null   int64
 50  week                    1958 non-null   int64
 51  year_month              1958 non-null   object
 52  year_week               1958 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 743.9+ KB

### Representative sample based on week and location

In [111]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_08_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_08_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week    LocationName  group_size  proportion
0    2016-w31         Alagoas           7    0.003575
1    2016-w31           Amapa           3    0.001532
2    2016-w31        Amazonas          12    0.006129
3    2016-w31           Bahia          31    0.015832
4    2016-w31           Ceara           7    0.003575
..        ...             ...         ...         ...
98   2016-w35        Rondonia           6    0.003064
99   2016-w35         Roraima           5    0.002554
100  2016-w35  Santa Catarina           4    0.002043
101  2016-w35       Sao Paulo          62    0.031665
102  2016-w35         Sergipe           2    0.001021

[103 rows x 4 columns]

In [112]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week    LocationName  group_size  proportion  sample_size
0    2016-w31         Alagoas           7    0.003575            8
1    2016-w31           Amapa           3    0.001532            3
2    2016-w31        Amazonas          12    0.006129           15
3    2016-w31           Bahia          31    0.015832           38
4    2016-w31           Ceara           7    0.003575            8
..        ...             ...         ...         ...          ...
98   2016-w35        Rondonia           6    0.003064            7
99   2016-w35         Roraima           5    0.002554            6
100  2016-w35  Santa Catarina           4    0.002043            5
101  2016-w35       Sao Paulo          62    0.031665           77
102  2016-w35         Sergipe           2    0.001021            2

[103 rows x 5 columns]

In [113]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_08_pos_sample_size = pd.merge(df_2016_08_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [115]:
# Step 6: Perform the stratified sampling
#df_2016_08_pos_sample = df_2016_08_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
 #   lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
#).reset_index(drop=True)
df_2016_08_pos_sample = df_2016_08_pos
# Step 7: Check the result
print(f"Sampled {len(df_2016_08_pos_sample)} rows.")

Sampled 1958 rows.

In [116]:
text_gpt_2016_08_pos = '\n'.join(df_2016_08_pos_sample['text'].astype(str))

### Prompts and loops

In [117]:
prompt_8 = prompt_raw.replace('TWEETS', text_gpt_2016_08_pos)

In [118]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_8}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [119]:
response.choices[0].message.content

'The texts discuss various vaccines currently in development or available in Brazil, including those against Zika, dengue, and esquistossomose. The U.S. has initiated human trials for a Zika vaccine, while Brazil is rolling out dengue vaccination campaigns. There are also mentions of vaccination against diseases like HPV, rubella, and rabies, emphasizing the importance of vaccination for public health.'

In [120]:
#summary = []
#dataset = []

In [121]:
dataset.append("2016_08_positive")

In [122]:
summary.append(response.choices[0].message.content)

In [123]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  8 non-null      object
 1   summary  8 non-null      object
dtypes: object(2)
memory usage: 256.0+ bytes

In [124]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3  2016_04_positive  The text discusses various vaccination campaig...
4  2016_05_positive  The text discusses various vaccination campaig...
5  2016_06_positive  The texts discuss various vaccination initiati...
6  2016_07_positive  The text discusses various aspects of vaccinat...
7  2016_08_positive  The texts discuss various vaccines currently i...

In [125]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcsVPzxuQjLt4TYqWiH5wIfDdgRD at 0x2100133ed60> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The texts discuss various vaccines currently in development or available in Brazil, including those against Zika, dengue, and esquistossomose. The U.S. has initiated human trials for a Zika vaccine, while Brazil is rolling out dengue vaccination campaigns. There are also mentions of vaccination against diseases like HPV, rubella, and rabies, emphasizing the importance of vaccination for public health.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862651,
  "id": "chatcmpl-AUcsVPzxuQjLt4TYqWiH5wIfDdgRD",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 78,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 48608,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 48686
  }
}

## September

In [126]:
# Get monthly data
df_2016_09_pos = pd.read_csv('../data/local/df_pos_2016-09.csv').reset_index()
df_2016_09_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   3200 non-null   int64
 1   LocationCode            3200 non-null   object
 2   LocationName            3200 non-null   object
 3   StatesCode              3200 non-null   object
 4   ...4                    3200 non-null   int64
 5   id                      3200 non-null   float64
 6   text                    3200 non-null   object
 7   label                   3200 non-null   object
 8   in_reply_to_status_id   125 non-null    float64
 9   in_reply_to_user_id     130 non-null    float64
 10  quoted_user_id          65 non-null     float64
 11  quoted_status_id        65 non-null     float64
 12  retweeted_user_id       1000 non-null   float64
 13  retweeted_status_id     1000 non-null   float64
 14  created_at              3200 non-null   object
 15  entities.user_mentions  1280 non-null   object
 16  user.id                 3200 non-null   float64
 17  user.screen_name        3200 non-null   object
 18  user.name               3200 non-null   object
 19  user.description        2804 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           3174 non-null   object
 22  user.num_followers      3200 non-null   int64
 23  user.num_following      3200 non-null   int64
 24  user.created_at         3200 non-null   object
 25  user.statuses_count     3200 non-null   int64
 26  user.is_verified        3200 non-null   bool
 27  lang                    3200 non-null   object
 28  token_count             3200 non-null   int64
 29  is_retweet              3200 non-null   bool
 30  has_quote               3200 non-null   bool
 31  is_reply                3200 non-null   bool
 32  contains_keywords       3200 non-null   bool
 33  longitude               3200 non-null   float64
 34  latitude                3200 non-null   float64
 35  country_code            3200 non-null   object
 36  geoname_id              3048 non-null   float64
 37  location_type           3200 non-null   object
 38  geo_type                3200 non-null   int64
 39  region                  3200 non-null   object
 40  subregion               3200 non-null   object
 41  num_quotes              3200 non-null   int64
 42  num_replies             3200 non-null   int64
 43  num_retweets            3200 non-null   int64
 44  sent_gpt                3200 non-null   object
 45  gpt_sent_presence       3200 non-null   int64
 46  cleaned_text_lem        3200 non-null   object
 47  cleaned_text            3200 non-null   object
 48  month                   3200 non-null   int64
 49  year                    3200 non-null   int64
 50  week                    3200 non-null   int64
 51  year_month              3200 non-null   object
 52  year_week               3200 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 1.2+ MB

### Representative sample based on week and location

In [127]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_09_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_09_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week       LocationName  group_size  proportion
0    2016-w35              Amapa           3    0.000937
1    2016-w35           Amazonas           1    0.000313
2    2016-w35              Bahia           2    0.000625
3    2016-w35              Ceara           1    0.000313
4    2016-w35     Espirito Santo           3    0.000937
..        ...                ...         ...         ...
122  2016-w40         Pernambuco           2    0.000625
123  2016-w40  Rio Grande Do Sul           6    0.001875
124  2016-w40     Santa Catarina           3    0.000937
125  2016-w40          Sao Paulo          11    0.003438
126  2016-w40            Sergipe           2    0.000625

[127 rows x 4 columns]

In [128]:
# Step 3: Define the target sample size
#target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
#group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
#group_sizes
# Taking all tweets since there were not enough for sampling

In [129]:
# Step 5: Merge this sample size information back to the original DataFrame
#df_2016_09_pos_sample_size = pd.merge(df_2016_09_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
 #                              on=['year_week', 'LocationName'], how='left')

In [130]:
# Step 6: Perform the stratified sampling
#df_2016_09_pos_sample = df_2016_09_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
 #   lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
#).reset_index(drop=True)
df_2016_09_pos_sample = df_2016_09_pos
# Step 7: Check the result
print(f"Sampled {len(df_2016_09_pos_sample)} rows.")

Sampled 3200 rows.

In [131]:
text_gpt_2016_09_pos = '\n'.join(df_2016_09_pos_sample['text'].astype(str))

### Prompts and loops

In [132]:
prompt_9 = prompt_raw.replace('TWEETS', text_gpt_2016_09_pos)

In [133]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_9}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [134]:
response.choices[0].message.content

'Brazilian researchers have developed a vaccine against cocaine addiction, which is currently being tested on animals. Meanwhile, a national vaccination campaign for children and adolescents, featuring Zé Gotinha and Carreta Furacão, begins on September 19, aiming to update vaccination records and promote health awareness.'

In [135]:
#summary = []
#dataset = []

In [136]:
dataset.append("2016_09_positive")

In [137]:
summary.append(response.choices[0].message.content)

In [138]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  9 non-null      object
 1   summary  9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes

In [139]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3  2016_04_positive  The text discusses various vaccination campaig...
4  2016_05_positive  The text discusses various vaccination campaig...
5  2016_06_positive  The texts discuss various vaccination initiati...
6  2016_07_positive  The text discusses various aspects of vaccinat...
7  2016_08_positive  The texts discuss various vaccines currently i...
8  2016_09_positive  Brazilian researchers have developed a vaccine...

In [140]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcsca0RCxcej0FRJPkJPfvJPwkaX at 0x2100133dc70> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "Brazilian researchers have developed a vaccine against cocaine addiction, which is currently being tested on animals. Meanwhile, a national vaccination campaign for children and adolescents, featuring Z\u00e9 Gotinha and Carreta Furac\u00e3o, begins on September 19, aiming to update vaccination records and promote health awareness.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862658,
  "id": "chatcmpl-AUcsca0RCxcej0FRJPkJPfvJPwkaX",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 58,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 79660,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 79718
  }
}

## October

In [141]:
# Get monthly data
df_2016_10_pos = pd.read_csv('../data/local/df_pos_2016-10.csv').reset_index()
df_2016_10_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1985 entries, 0 to 1984
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   1985 non-null   int64
 1   LocationCode            1985 non-null   object
 2   LocationName            1985 non-null   object
 3   StatesCode              1985 non-null   object
 4   ...4                    1985 non-null   int64
 5   id                      1985 non-null   float64
 6   text                    1985 non-null   object
 7   label                   1985 non-null   object
 8   in_reply_to_status_id   105 non-null    float64
 9   in_reply_to_user_id     113 non-null    float64
 10  quoted_user_id          37 non-null     float64
 11  quoted_status_id        37 non-null     float64
 12  retweeted_user_id       585 non-null    float64
 13  retweeted_status_id     585 non-null    float64
 14  created_at              1985 non-null   object
 15  entities.user_mentions  760 non-null    object
 16  user.id                 1985 non-null   float64
 17  user.screen_name        1985 non-null   object
 18  user.name               1985 non-null   object
 19  user.description        1773 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           1969 non-null   object
 22  user.num_followers      1985 non-null   int64
 23  user.num_following      1985 non-null   int64
 24  user.created_at         1985 non-null   object
 25  user.statuses_count     1985 non-null   int64
 26  user.is_verified        1985 non-null   bool
 27  lang                    1985 non-null   object
 28  token_count             1985 non-null   int64
 29  is_retweet              1985 non-null   bool
 30  has_quote               1985 non-null   bool
 31  is_reply                1985 non-null   bool
 32  contains_keywords       1985 non-null   bool
 33  longitude               1985 non-null   float64
 34  latitude                1985 non-null   float64
 35  country_code            1985 non-null   object
 36  geoname_id              1897 non-null   float64
 37  location_type           1985 non-null   object
 38  geo_type                1985 non-null   int64
 39  region                  1985 non-null   object
 40  subregion               1985 non-null   object
 41  num_quotes              1985 non-null   int64
 42  num_replies             1985 non-null   int64
 43  num_retweets            1985 non-null   int64
 44  sent_gpt                1985 non-null   object
 45  gpt_sent_presence       1985 non-null   int64
 46  cleaned_text_lem        1985 non-null   object
 47  cleaned_text            1985 non-null   object
 48  month                   1985 non-null   int64
 49  year                    1985 non-null   int64
 50  week                    1985 non-null   int64
 51  year_month              1985 non-null   object
 52  year_week               1985 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 754.2+ KB

### Representative sample based on week and location

In [142]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_10_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_10_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week       LocationName  group_size  proportion
0    2016-w40            Alagoas           2    0.001008
1    2016-w40              Amapa           1    0.000504
2    2016-w40           Amazonas          15    0.007557
3    2016-w40              Bahia          17    0.008564
4    2016-w40   Distrito Federal           4    0.002015
..        ...                ...         ...         ...
100  2016-w44  Rio Grande Do Sul           7    0.003526
101  2016-w44           Rondonia           2    0.001008
102  2016-w44     Santa Catarina           1    0.000504
103  2016-w44          Sao Paulo          31    0.015617
104  2016-w44          Tocantins           1    0.000504

[105 rows x 4 columns]

In [143]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week       LocationName  group_size  proportion  sample_size
0    2016-w40            Alagoas           2    0.001008            2
1    2016-w40              Amapa           1    0.000504            1
2    2016-w40           Amazonas          15    0.007557           18
3    2016-w40              Bahia          17    0.008564           20
4    2016-w40   Distrito Federal           4    0.002015            4
..        ...                ...         ...         ...          ...
100  2016-w44  Rio Grande Do Sul           7    0.003526            8
101  2016-w44           Rondonia           2    0.001008            2
102  2016-w44     Santa Catarina           1    0.000504            1
103  2016-w44          Sao Paulo          31    0.015617           38
104  2016-w44          Tocantins           1    0.000504            1

[105 rows x 5 columns]

In [144]:
# Step 5: Merge this sample size information back to the original DataFrame
#df_2016_10_pos_sample_size = pd.merge(df_2016_10_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
 #                              on=['year_week', 'LocationName'], how='left')
# Taking all tweets for not having enough tweets for sampling

In [145]:
# Step 6: Perform the stratified sampling
#df_2016_10_pos_sample = df_2016_10_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
 #   lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
#).reset_index(drop=True)
df_2016_10_pos_sample = df_2016_10_pos
# Step 7: Check the result
print(f"Sampled {len(df_2016_10_pos_sample)} rows.")

Sampled 1985 rows.

In [146]:
text_gpt_2016_10_pos = '\n'.join(df_2016_10_pos_sample['text'].astype(str))

### Prompts and loops

In [147]:
prompt_10 = prompt_raw.replace('TWEETS', text_gpt_2016_10_pos)

In [148]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_10}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [149]:
response.choices[0].message.content

'The sentences discuss various vaccination campaigns and recommendations in Brazil, emphasizing the importance of vaccinations for children, especially against HPV and rabies. Specific age groups, such as girls aged 9-13 and boys aged 12-13, are highlighted for HPV vaccination. Additionally, there are mentions of new vaccine developments, including those for dengue and cancer, as well as the role of organizations like Fiocruz in these initiatives. The overall message stresses the necessity of maintaining updated vaccination records to ensure health and prevent diseases.'

In [150]:
#summary = []
#dataset = []

In [151]:
dataset.append("2016_10_positive")

In [152]:
summary.append(response.choices[0].message.content)

In [153]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  10 non-null     object
 1   summary  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [154]:
df_2016_pos.tail(14)

            dataset                                            summary
0  2016_01_positive  The sentences discuss various aspects of vacci...
1  2016_02_positive  The excerpts discuss the urgent need for a vac...
2  2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3  2016_04_positive  The text discusses various vaccination campaig...
4  2016_05_positive  The text discusses various vaccination campaig...
5  2016_06_positive  The texts discuss various vaccination initiati...
6  2016_07_positive  The text discusses various aspects of vaccinat...
7  2016_08_positive  The texts discuss various vaccines currently i...
8  2016_09_positive  Brazilian researchers have developed a vaccine...
9  2016_10_positive  The sentences discuss various vaccination camp...

In [155]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcsiN7nf5hkLJ60VYOxQZA775Avh at 0x210021d5a90> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The sentences discuss various vaccination campaigns and recommendations in Brazil, emphasizing the importance of vaccinations for children, especially against HPV and rabies. Specific age groups, such as girls aged 9-13 and boys aged 12-13, are highlighted for HPV vaccination. Additionally, there are mentions of new vaccine developments, including those for dengue and cancer, as well as the role of organizations like Fiocruz in these initiatives. The overall message stresses the necessity of maintaining updated vaccination records to ensure health and prevent diseases.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862664,
  "id": "chatcmpl-AUcsiN7nf5hkLJ60VYOxQZA775Avh",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 102,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 51867,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 51969
  }
}

## November

In [156]:
# Get monthly data
df_2016_11_pos = pd.read_csv('../data/local/df_pos_2016-11.csv').reset_index()
df_2016_11_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   1228 non-null   int64
 1   LocationCode            1228 non-null   object
 2   LocationName            1228 non-null   object
 3   StatesCode              1228 non-null   object
 4   ...4                    1228 non-null   int64
 5   id                      1228 non-null   float64
 6   text                    1228 non-null   object
 7   label                   1228 non-null   object
 8   in_reply_to_status_id   104 non-null    float64
 9   in_reply_to_user_id     110 non-null    float64
 10  quoted_user_id          51 non-null     float64
 11  quoted_status_id        51 non-null     float64
 12  retweeted_user_id       348 non-null    float64
 13  retweeted_status_id     348 non-null    float64
 14  created_at              1228 non-null   object
 15  entities.user_mentions  494 non-null    object
 16  user.id                 1228 non-null   float64
 17  user.screen_name        1228 non-null   object
 18  user.name               1228 non-null   object
 19  user.description        1103 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           1208 non-null   object
 22  user.num_followers      1228 non-null   int64
 23  user.num_following      1228 non-null   int64
 24  user.created_at         1228 non-null   object
 25  user.statuses_count     1228 non-null   int64
 26  user.is_verified        1228 non-null   bool
 27  lang                    1228 non-null   object
 28  token_count             1228 non-null   int64
 29  is_retweet              1228 non-null   bool
 30  has_quote               1228 non-null   bool
 31  is_reply                1228 non-null   bool
 32  contains_keywords       1228 non-null   bool
 33  longitude               1228 non-null   float64
 34  latitude                1228 non-null   float64
 35  country_code            1228 non-null   object
 36  geoname_id              1137 non-null   float64
 37  location_type           1228 non-null   object
 38  geo_type                1228 non-null   int64
 39  region                  1228 non-null   object
 40  subregion               1228 non-null   object
 41  num_quotes              1228 non-null   int64
 42  num_replies             1228 non-null   int64
 43  num_retweets            1228 non-null   int64
 44  sent_gpt                1228 non-null   object
 45  gpt_sent_presence       1228 non-null   int64
 46  cleaned_text_lem        1228 non-null   object
 47  cleaned_text            1228 non-null   object
 48  month                   1228 non-null   int64
 49  year                    1228 non-null   int64
 50  week                    1228 non-null   int64
 51  year_month              1228 non-null   object
 52  year_week               1228 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 466.6+ KB

### Representative sample based on week and location

In [157]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_11_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_11_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week      LocationName  group_size  proportion
0    2016-w44           Alagoas           2    0.001629
1    2016-w44          Amazonas           4    0.003257
2    2016-w44             Bahia           2    0.001629
3    2016-w44             Ceara           4    0.003257
4    2016-w44  Distrito Federal           1    0.000814
..        ...               ...         ...         ...
101  2016-w48           Roraima           1    0.000814
102  2016-w48    Santa Catarina           5    0.004072
103  2016-w48         Sao Paulo          57    0.046417
104  2016-w48           Sergipe           2    0.001629
105  2016-w48         Tocantins           1    0.000814

[106 rows x 4 columns]

In [158]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week      LocationName  group_size  proportion  sample_size
0    2016-w44           Alagoas           2    0.001629            3
1    2016-w44          Amazonas           4    0.003257            7
2    2016-w44             Bahia           2    0.001629            3
3    2016-w44             Ceara           4    0.003257            7
4    2016-w44  Distrito Federal           1    0.000814            1
..        ...               ...         ...         ...          ...
101  2016-w48           Roraima           1    0.000814            1
102  2016-w48    Santa Catarina           5    0.004072            9
103  2016-w48         Sao Paulo          57    0.046417          113
104  2016-w48           Sergipe           2    0.001629            3
105  2016-w48         Tocantins           1    0.000814            1

[106 rows x 5 columns]

In [159]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_11_pos_sample_size = pd.merge(df_2016_11_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [160]:
# Step 6: Perform the stratified sampling
#df_2016_11_pos_sample = df_2016_11_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
 #   lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
#).reset_index(drop=True)
df_2016_11_pos_sample = df_2016_11_pos
# Step 7: Check the result
print(f"Sampled {len(df_2016_11_pos_sample)} rows.")

Sampled 1228 rows.

In [161]:
text_gpt_2016_11_pos = '\n'.join(df_2016_11_pos_sample['text'].astype(str))

### Prompts and loops

In [162]:
prompt_11 = prompt_raw.replace('TWEETS', text_gpt_2016_11_pos)

In [163]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_11}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [164]:
response.choices[0].message.content

'The content discusses various vaccination campaigns and initiatives in Brazil, emphasizing the importance of vaccinating both animals and humans against diseases like foot-and-mouth disease, rabies, HPV, and dengue. It highlights upcoming vaccination days, availability of vaccines, and the need for public awareness in maintaining vaccination schedules for pets and livestock.'

In [165]:
#summary = []
#dataset = []

In [166]:
dataset.append("2016_11_positive")

In [167]:
summary.append(response.choices[0].message.content)

In [168]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  11 non-null     object
 1   summary  11 non-null     object
dtypes: object(2)
memory usage: 304.0+ bytes

In [169]:
df_2016_pos.tail(14)

             dataset                                            summary
0   2016_01_positive  The sentences discuss various aspects of vacci...
1   2016_02_positive  The excerpts discuss the urgent need for a vac...
2   2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3   2016_04_positive  The text discusses various vaccination campaig...
4   2016_05_positive  The text discusses various vaccination campaig...
5   2016_06_positive  The texts discuss various vaccination initiati...
6   2016_07_positive  The text discusses various aspects of vaccinat...
7   2016_08_positive  The texts discuss various vaccines currently i...
8   2016_09_positive  Brazilian researchers have developed a vaccine...
9   2016_10_positive  The sentences discuss various vaccination camp...
10  2016_11_positive  The content discusses various vaccination camp...

In [170]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcsniIbTl3MAgoj7hMXz75CaAbk9 at 0x21001d0c860> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The content discusses various vaccination campaigns and initiatives in Brazil, emphasizing the importance of vaccinating both animals and humans against diseases like foot-and-mouth disease, rabies, HPV, and dengue. It highlights upcoming vaccination days, availability of vaccines, and the need for public awareness in maintaining vaccination schedules for pets and livestock.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862669,
  "id": "chatcmpl-AUcsniIbTl3MAgoj7hMXz75CaAbk9",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_f8dd36be86",
  "usage": {
    "completion_tokens": 62,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 30968,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 31030
  }
}

## December

In [171]:
# Get monthly data
df_2016_12_pos = pd.read_csv('../data/local/df_pos_2016-12.csv').reset_index()
df_2016_12_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   1293 non-null   int64
 1   LocationCode            1293 non-null   object
 2   LocationName            1293 non-null   object
 3   StatesCode              1293 non-null   object
 4   ...4                    1293 non-null   int64
 5   id                      1293 non-null   float64
 6   text                    1293 non-null   object
 7   label                   1293 non-null   object
 8   in_reply_to_status_id   84 non-null     float64
 9   in_reply_to_user_id     91 non-null     float64
 10  quoted_user_id          42 non-null     float64
 11  quoted_status_id        42 non-null     float64
 12  retweeted_user_id       343 non-null    float64
 13  retweeted_status_id     343 non-null    float64
 14  created_at              1293 non-null   object
 15  entities.user_mentions  544 non-null    object
 16  user.id                 1293 non-null   float64
 17  user.screen_name        1293 non-null   object
 18  user.name               1293 non-null   object
 19  user.description        1136 non-null   object
 20  user.timezone           0 non-null      float64
 21  user.location           1279 non-null   object
 22  user.num_followers      1293 non-null   int64
 23  user.num_following      1293 non-null   int64
 24  user.created_at         1293 non-null   object
 25  user.statuses_count     1293 non-null   int64
 26  user.is_verified        1293 non-null   bool
 27  lang                    1293 non-null   object
 28  token_count             1293 non-null   int64
 29  is_retweet              1293 non-null   bool
 30  has_quote               1293 non-null   bool
 31  is_reply                1293 non-null   bool
 32  contains_keywords       1293 non-null   bool
 33  longitude               1293 non-null   float64
 34  latitude                1293 non-null   float64
 35  country_code            1293 non-null   object
 36  geoname_id              1231 non-null   float64
 37  location_type           1293 non-null   object
 38  geo_type                1293 non-null   int64
 39  region                  1293 non-null   object
 40  subregion               1293 non-null   object
 41  num_quotes              1293 non-null   int64
 42  num_replies             1293 non-null   int64
 43  num_retweets            1293 non-null   int64
 44  sent_gpt                1293 non-null   object
 45  gpt_sent_presence       1293 non-null   int64
 46  cleaned_text_lem        1293 non-null   object
 47  cleaned_text            1293 non-null   object
 48  month                   1293 non-null   int64
 49  year                    1293 non-null   int64
 50  week                    1293 non-null   int64
 51  year_month              1293 non-null   object
 52  year_week               1293 non-null   object
dtypes: bool(5), float64(12), int64(14), object(22)
memory usage: 491.3+ KB

### Representative sample based on week and location

In [172]:
# Step 1: Calculate the size of each group (year_week, LocationName)
group_sizes = df_2016_12_pos.groupby(['year_week', 'LocationName']).size().reset_index(name='group_size')

# Step 2: Calculate the proportion of each group in the dataset
total_rows = len(df_2016_12_pos)
group_sizes['proportion'] = group_sizes['group_size'] / total_rows
group_sizes

    year_week       LocationName  group_size  proportion
0    2016-w48              Amapa           1    0.000773
1    2016-w48              Bahia           2    0.001547
2    2016-w48   Distrito Federal           1    0.000773
3    2016-w48     Espirito Santo           1    0.000773
4    2016-w48              Goias           1    0.000773
..        ...                ...         ...         ...
106  2016-w53             Parana           3    0.002320
107  2016-w53         Pernambuco           2    0.001547
108  2016-w53  Rio Grande Do Sul           1    0.000773
109  2016-w53     Santa Catarina           2    0.001547
110  2016-w53          Sao Paulo           8    0.006187

[111 rows x 4 columns]

In [173]:
# Step 3: Define the target sample size
target_sample_size = 2450

# Step 4: Calculate the sample size for each group (based on its proportion)
group_sizes['sample_size'] = np.floor(group_sizes['proportion'] * target_sample_size).astype(int)
group_sizes

    year_week       LocationName  group_size  proportion  sample_size
0    2016-w48              Amapa           1    0.000773            1
1    2016-w48              Bahia           2    0.001547            3
2    2016-w48   Distrito Federal           1    0.000773            1
3    2016-w48     Espirito Santo           1    0.000773            1
4    2016-w48              Goias           1    0.000773            1
..        ...                ...         ...         ...          ...
106  2016-w53             Parana           3    0.002320            5
107  2016-w53         Pernambuco           2    0.001547            3
108  2016-w53  Rio Grande Do Sul           1    0.000773            1
109  2016-w53     Santa Catarina           2    0.001547            3
110  2016-w53          Sao Paulo           8    0.006187           15

[111 rows x 5 columns]

In [174]:
# Step 5: Merge this sample size information back to the original DataFrame
df_2016_12_pos_sample_size = pd.merge(df_2016_12_pos, group_sizes[['year_week', 'LocationName', 'sample_size']], 
                               on=['year_week', 'LocationName'], how='left')

In [175]:
# Step 6: Perform the stratified sampling
#df_2016_12_pos_sample = df_2016_12_pos_sample_size.groupby(['year_week', 'LocationName']).apply(
 #   lambda group: group.sample(n=group['sample_size'].iloc[0], random_state=42)
#).reset_index(drop=True)
df_2016_12_pos_sample = df_2016_12_pos
# Step 7: Check the result
print(f"Sampled {len(df_2016_12_pos_sample)} rows.")

Sampled 1293 rows.

In [176]:
text_gpt_2016_12_pos = '\n'.join(df_2016_12_pos_sample['text'].astype(str))

### Prompts and loops

In [177]:
prompt_12 = prompt_raw.replace('TWEETS', text_gpt_2016_12_pos)

In [178]:
response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages = [
        {"role": "user", "content": prompt_12}
    ],
    max_tokens=400,  # Maximum number of tokens in the response
    temperature=0.7  # Controls the randomness of the output
)

In [179]:
response.choices[0].message.content

'The text discusses various vaccination efforts in Brazil, including the introduction of a dengue vaccine being tested by the Butantan Institute, the high vaccination rates against foot-and-mouth disease in livestock, and the importance of vaccinations for both humans and pets. It also highlights the effectiveness of the Ebola vaccine, which has shown 100% efficacy in trials. The text emphasizes the significance of vaccinations in preventing diseases and the ongoing campaigns to promote vaccination awareness.'

In [180]:
#summary = []
#dataset = []

In [181]:
dataset.append("2016_12_positive")

In [182]:
summary.append(response.choices[0].message.content)

In [183]:
df_2016_pos = pd.DataFrame(list(zip(dataset, summary)),
                            columns = ['dataset', 'summary'])
df_2016_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  12 non-null     object
 1   summary  12 non-null     object
dtypes: object(2)
memory usage: 320.0+ bytes

In [184]:
df_2016_pos.tail(14)

             dataset                                            summary
0   2016_01_positive  The sentences discuss various aspects of vacci...
1   2016_02_positive  The excerpts discuss the urgent need for a vac...
2   2016_03_positive  In Brazil, there is a strong emphasis on vacci...
3   2016_04_positive  The text discusses various vaccination campaig...
4   2016_05_positive  The text discusses various vaccination campaig...
5   2016_06_positive  The texts discuss various vaccination initiati...
6   2016_07_positive  The text discusses various aspects of vaccinat...
7   2016_08_positive  The texts discuss various vaccines currently i...
8   2016_09_positive  Brazilian researchers have developed a vaccine...
9   2016_10_positive  The sentences discuss various vaccination camp...
10  2016_11_positive  The content discusses various vaccination camp...
11  2016_12_positive  The text discusses various vaccination efforts...

In [185]:
response

<OpenAIObject chat.completion id=chatcmpl-AUcsrujZSJJV28KyTrSaAZ4pR8kPH at 0x21001dfb400> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "message": {
        "content": "The text discusses various vaccination efforts in Brazil, including the introduction of a dengue vaccine being tested by the Butantan Institute, the high vaccination rates against foot-and-mouth disease in livestock, and the importance of vaccinations for both humans and pets. It also highlights the effectiveness of the Ebola vaccine, which has shown 100% efficacy in trials. The text emphasizes the significance of vaccinations in preventing diseases and the ongoing campaigns to promote vaccination awareness.",
        "refusal": null,
        "role": "assistant"
      }
    }
  ],
  "created": 1731862673,
  "id": "chatcmpl-AUcsrujZSJJV28KyTrSaAZ4pR8kPH",
  "model": "gpt-4o-mini-2024-07-18",
  "object": "chat.completion",
  "system_fingerprint": "fp_0ba0d124f1",
  "usage": {
    "completion_tokens": 86,
    "completion_tokens_details": {
      "accepted_prediction_tokens": 0,
      "audio_tokens": 0,
      "reasoning_tokens": 0,
      "rejected_prediction_tokens": 0
    },
    "prompt_tokens": 29524,
    "prompt_tokens_details": {
      "audio_tokens": 0,
      "cached_tokens": 0
    },
    "total_tokens": 29610
  }
}

## All 2016 positive

In [186]:
df_2016_pos.to_csv('../data/summary_2016_positive_tweets.csv')